<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <!-- Utilização de elementos do bootstrap para organizar tela -->
    <div class="panel panel-primary"> 
      <div class="panel-heading">
        <!-- Título da página  -->
        {{ title }}        
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>RU</th>
                <th>Curso</th>
                <th>Data Nascimento</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aluno of alunos;">
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.ru}}</td>
                    <td>{{aluno.nomeDoCurso}}</td>
                    <td>{{aluno.dataDeAniversario}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
